# /etc/systemd/system/nft-void-refresh.timer
[Unit]
Description=nft-void periodic refresh timer
Documentation=https://github.com/zenofile/nft-void
Requires=nft-void-main.service
After=nft-void-main.service

[Timer]
OnBootSec=24h
OnUnitActiveSec=24h
Persistent=false

[Install]
WantedBy=timers.target
