table netdev blackhole {
{% if ip_versions.v4 %}
    set {{ set_names.whitelist }}_v4 {
        type ipv4_addr
        flags interval
        auto-merge
        {% if sets.whitelist_v4 %}
        elements = { {{ sets.whitelist_v4 }} }
        {% endif %}
    }

    set {{ set_names.blacklist}}_v4 {
        type ipv4_addr
        flags interval
        auto-merge
        {% if sets.blacklist_v4 %}
        elements = { {{ sets.blacklist_v4 }} }
        {% endif %}
    }

    set {{ set_names.abuselist }}_v4 {
        type ipv4_addr
        flags interval
        auto-merge
        {% if sets.abuselist_v4 %}
        elements = { {{ sets.abuselist_v4 }} }
        {% endif %}
    }

    set {{ set_names.country }}_v4 {
        type ipv4_addr
        flags interval
        auto-merge
        {% if sets.country_v4 %}
        elements = { {{ sets.country_v4 }} }
        {% endif %}
    }
{% endif %}

{% if ip_versions.v6 %}
    set {{ set_names.whitelist }}_v6 {
        type ipv6_addr
        flags interval
        auto-merge
        {% if sets.whitelist_v6 %}
        elements = { {{ sets.whitelist_v6 }} }
        {% endif %}
    }

    set {{ set_names.blacklist}}_v6 {
        type ipv6_addr
        flags interval
        auto-merge
        {% if sets.blacklist_v6 %}
        elements = { {{ sets.blacklist_v6 }} }
        {% endif %}
    }

    set {{ set_names.abuselist }}_v6 {
        type ipv6_addr
        flags interval
        auto-merge
        {% if sets.abuselist_v6 %}
        elements = { {{ sets.abuselist_v6 }} }
        {% endif %}
    }

    set {{ set_names.country }}_v6 {
        type ipv6_addr
        flags interval
        auto-merge
        {% if sets.country_v6 %}
        elements = { {{ sets.country_v6 }} }
        {% endif %}
    }
{% endif %}

    chain input {
        type filter hook ingress device {{ iifname }} priority -190; policy {{ default_policy }};

{% if ip_versions.v4 %}
        ip saddr @{{ set_names.whitelist }}_v4 counter accept
        ip saddr @{{ set_names.blacklist}}_v4 counter goto log-debug
        ip saddr @{{ set_names.abuselist }}_v4 counter goto log-debug
        ip saddr @{{ set_names.country }}_v4 counter goto log-debug
{% endif %}

{% if ip_versions.v6 %}
        ip6 saddr @{{ set_names.whitelist }}_v6 counter accept
        ip6 saddr @{{ set_names.blacklist}}_v6 counter goto log-debug
        ip6 saddr @{{ set_names.abuselist }}_v6 counter goto log-debug
        ip6 saddr @{{ set_names.country }}_v6 counter goto log-debug
{% endif %}

        counter
    }

    chain log-debug {
    {% if logging.enabled %}
        limit rate {{ logging.rate }}/minute burst {{ logging.burst }} packets counter log level debug {{ block_policy }}
    {% else %}
        {{ block_policy }}
    {% endif %}
    }
}
