{# Block 1: Static Sets (Whitelist, Blacklist) #}
{% block sets_static %}
    {% for name, set in sets|items %}
        {% if set.is_static %}
            set {{ name }} {
                type {% if '_v4' in name %}ipv4_addr{% else %}ipv6_addr{% endif %};
                flags interval;
                auto-merge;
                {% if set %}
                    elements = { {{ set|safe }} }
                {% endif %}
    }
        {% endif %}
    {% endfor %}
{% endblock %}

{# Block 2: Dynamic Sets (Abuselist, Country) - with suffix #}
{% block sets_dynamic %}
    {% for name, set in sets|items %}
        {% if not set.is_static %}
            set {{ name }}_{{ epoch }} {
                type {% if '_v4' in name %}ipv4_addr{% else %}ipv6_addr{% endif %};
                flags interval;
                auto-merge;
                {% if set %}
                    elements = { {{ set|safe }} }
                {% endif %}
            }
        {% endif %}
    {% endfor %}
{% endblock %}

{# Block 3: Counters - created once, no suffix binding, persistent #}
{% block counters %}
    {% if ip_versions.v4 %}
        {% for base in [set_names.whitelist, set_names.blacklist, set_names.abuselist, set_names.country] %}
            counter {{ base }}_v4_cnt {}
        {% endfor %}
    {% endif %}
    {% if ip_versions.v6 %}
        {% for base in [set_names.whitelist, set_names.blacklist, set_names.abuselist, set_names.country] %}
            counter {{ base }}_v6_cnt {}
        {% endfor %}
    {% endif %}
{% endblock %}

{# Block 4: Chain Logic #}
{% block chain_logic %}
    {% for iface in iifname %}
    chain ingress_{{ iface }} {
        type filter hook ingress device "{{ iface }}" priority -190; policy {{ default_policy }};
        jump validation
    }
    {% endfor %}

    {# Define a sub-block we can target specifically during refresh #}
    {% block chain_validation %}
        chain validation {
            iifname "lo" accept

            {% if ip_versions.v4 %}
                {# Whitelist #}
                {% set wl_versioned = set_names.whitelist ~ "_v4" %}
                {% if sets[wl_versioned] is defined %}
                    ip saddr @{{ wl_versioned}} counter name {{ set_names.whitelist }}_v4_cnt accept
                {% endif %}

                {# Deny Sets, can be dynamic #}
                {% for base in [set_names.blacklist, set_names.abuselist, set_names.country] %}
                    {% set versioned = base ~ "_v4" %}
                    {% if sets[versioned] is defined %}
                        {% if not sets[versioned].is_static %}
                            {% set versioned = versioned ~ "_" ~ epoch %}
                        {% endif %}
                        ip saddr @{{ versioned}} counter name {{ base }}_v4_cnt goto log-debug
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if ip_versions.v6 %}
                {# Whitelist #}
                {% set wl_versioned = set_names.whitelist ~ "_v6" %}
                {% if sets[wl_versioned] is defined %}
                    ip6 saddr @{{ wl_versioned}} counter name {{ set_names.whitelist }}_v6_cnt accept
                {% endif %}

                {# Deny Sets, can be dynamic #}
                {% for base in [set_names.blacklist, set_names.abuselist, set_names.country] %}
                    {% set versioned = base ~ "_v6" %}
                    {% if sets[versioned] is defined %}
                        {% if not sets[versioned].is_static %}
                            {% set versioned = versioned ~ "_" ~ epoch %}
                        {% endif %}
                        ip6 saddr @{{ versioned }} counter name {{ base }}_v6_cnt goto log-debug
                    {% endif %}
                {% endfor %}
            {% endif %}
        }
    {% endblock %}

    chain log-debug {
    {% if logging.enabled %}
    {% if logging.ratelimiting %}
        limit rate {{ logging.rate }}/minute burst {{ logging.burst }} packets log level debug
    {% else %}
        log level debug
    {% endif %}
    {% endif %}
        {{ block_policy }}
    }
{% endblock %}

{# Main: Full Configuration, combine all blocks #}
{% block full_config %}
    table netdev blackhole {
        {{ self.sets_static() }}
        {{ self.sets_dynamic() }}
        {{ self.counters() }}
        {{ self.chain_logic() }}
    }
{% endblock %}
