# /etc/systemd/system/zuul-refresh.timer
[Unit]
Description=zuul periodic refresh timer
Documentation=https://github.com/zenofile/zuul
Requires=zuul-main.service
After=zuul-main.service

[Timer]
OnBootSec=24h
OnUnitActiveSec=24h
Persistent=false

[Install]
WantedBy=timers.target
