name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          features: static
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust nightly (+ target)
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-unknown-linux-gnu

      - name: Upload Release Asset
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: rostschutz
          target: x86_64-unknown-linux-gnu
          include: template.j2,config.yaml,systemd
          leading-dir: true
          token: ${{ secrets.GITHUB_TOKEN }}
